/* font-family: 'Coda', cursive;
font-family: 'Alegreya Sans SC', sans-serif; */

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TOGGLE */

.toggle {
  display: none;
}

/* WRAPPER */

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 7%;
}

/* NAV */

nav {
  width: 100%;
  height: 13vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

nav .wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 17rem;
  height: 3rem;
}

nav .burger {
  font-size: 2.5rem;
  color: rgb(31, 31, 31);
}

nav::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.5rem;
  background-color: #334795;
}

/* HEADER */

header {
  /* margin: 5vh; */
  width: 100%;
  height: 87vh;
  position: relative;
  top: 13vh;
  left: 0;

  background-image: url("../img/6.jpg");
  /* background-attachment: fixed; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header h2 {
  margin: 0;
  padding: 3rem 0 0 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "Coda", cursive;
  letter-spacing: 0.3rem;
  font-size: 2rem;
  color: #2b2b2b;
}

/* ABOUT */

section.about {
  width: 100%;
  position: relative;
  top: 13vh;
  left: 0;
  background-color: #eff3ff;
  font-family: "Alegreya Sans SC", sans-serif;
}

.about .background {
  width: 100%;
  height: 50vh;
  background-image: url("../img/about.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about h3 {
  margin: 0;
  padding: 3rem 0 0 0;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 4rem;
  font-weight: 900;
  color: #4b4b4b;
}

.about h3::after {
  content: "";
  display: block;
  margin: 0.8rem 0 0 0;
  width: 20rem;
  height: 0.5rem;

  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  background-image: linear-gradient(
    to right,
    #334795,
    #616fb0,
    #8e9acb,
    #bdc6e5,
    #eff3ff
  );
}

.about p {
  margin: 0;
  padding: 3rem 0 5rem 0;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
  color: #000;
}
